body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: #eed440;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
main {
    flex: 1;
    padding-top: 10%; /* Match the height of the header */
    padding-bottom: 10%; /* Match the height of the footer */
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%; /* Adjust height as needed */
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%; /* Adjust height as needed */
}
header, footer {
    background-color: #ff0000;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
} 
header p, header a, footer p, footer a {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}
/* Add this to your existing styles.css file */

/* Animation for header links */
.animated-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

.animated-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.animated-link:hover {
    color: #007BFF;
}

.animated-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

